<div class="container">
  <div class="inner">
    <h1 class="mat-display-3" translate="login.login"></h1>

    <mat-card *ngIf="failedLogin" class="error mat-subheading-2" translate="login.failed"></mat-card>

    <mat-form-field>
      <mat-label translate="login.username"></mat-label>
      <input matInput [(ngModel)]="username" />
    </mat-form-field>

    <mat-form-field>
      <mat-label translate="login.password"></mat-label>
      <input matInput type="password" [(ngModel)]="password" />
    </mat-form-field>

    <button
      mat-flat-button
      color="primary"
      translate="login.login"
      (click)="login()"
      [disabled]="!username || !password"
    ></button>
  </div>
</div>
