mat-row {
  &.user-row {
    &:hover {
      background: whitesmoke;
      cursor: pointer;
    }
  }
}

mat-table {
  margin-top: 24px;
}

mat-cell {
  &.mat-column-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}
