<h2 translate="admin.userManagement"></h2>

<button mat-raised-button color="primary" (click)="addUser()">
  <mat-icon>add</mat-icon>
  <span translate="admin.user.addUser"></span>
</button>

<mat-table *ngIf="dataSource" [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="username">
    <mat-header-cell *matHeaderCellDef translate="admin.user.username"></mat-header-cell>
    <mat-cell *matCellDef="let user"> {{ user.username }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="groups">
    <mat-header-cell *matHeaderCellDef translate="admin.user.groups"></mat-header-cell>
    <mat-cell *matCellDef="let user">
      <mat-chip-list>
        <mat-chip *ngFor="let group of user.groups">{{ group }}</mat-chip>
      </mat-chip-list>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
  <mat-row
    *matRowDef="let row; columns: columnsToDisplay"
    class="user-row"
    (click)="editUser(row.userId)"
    [title]="'admin.user.userDetailHeadingEdit' | translate: { user: row.username }"
  ></mat-row>
</mat-table>
